.field {
  position: relative;
  margin: 0;
  width: 60%;
  max-width: 488px;
}

.input {
  outline: 1px solid #757575;
  border: 1px solid #757575;
  color: #303030;
  display: block;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  flex-shrink: 0;
  height: 48px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  padding: 0 16px;
  width: 488px;
}

.inputLabel {
  color: #757575;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  position: absolute;
  top: 14px;
  left: 16px;
}

.input:focus {
  border: none;
  outline: none;
}

.input:focus ~ label,
.input:valid ~ label {
  color: #424242;
  font-size: 12px;
  left: 0;
  top: -20px;
}
