.firstTitle {
  margin-left: auto;
  color: var(--common-black, #010101);
  flex-shrink: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: 1.25px;
  margin-bottom: 28px;
  text-align: right;
  text-transform: uppercase;
  width: 290px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* .paperContainer {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  min-height: 228px;
} */

.tutorsSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tutorsHeaderContainer {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.tutorsImg {
  height: 24px;
  flex-shrink: 0;
  width: 24px;
}

.tutorsHeader {
  color: var(--common-black, #010101);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  line-height: 1.71429; /* 171.429% */
  letter-spacing: 1.25px;
  text-transform: uppercase;
  width: 158px;
}
