.sidebar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 24px;
  /* height: 100vh; */
  position: relative;
  width: 320px;
}

.hide {
  width: 0;
}

.sidebarHeader {
  background: #161d2a;
  flex-shrink: 0;
  height: 80px;
  width: 100%;
  margin-bottom: 24px;
}

.button {
  align-items: center;
  background-color: #ff6b0a;
  outline: none;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 32px;
  padding: 8px;
  position: absolute;
  right: -16px;
  top: 96px;
  width: 32px;
}

.button svg {
  width: 16px;
  height: 16px;
}
